---

#- name: Install epel repo
#  yum:
#    name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
#    state: present
#
#- name: Install IUS repo
#  yum:
#    name: https://centos7.iuscommunity.org/ius-release.rpm
#    state: present
#
#- name: Import IUS GPG key
#  rpm_key:
#    key: http://dl.iuscommunity.org/pub/ius/IUS-COMMUNITY-GPG-KEY
#    state: present
#
- name: Remove git from base repo
  yum:
    name: git.x86_64
    state: absent

- name: Install git from IUS repo
  yum:
    name: git2u
    state: "{{ git_update }}"
